body{
  margin: 0;
  font-family: Arial, sans-serif;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.color-picker-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
  box-shadow: 5px 5px 5px hsl(0, 0%, 90%);
}

.color-picker-container h1{
  margin: 50px;
  font-size: 3rem;
  color: hsl(0, 0%, 30%);
}

.color-picker-display p{
  color: hsl(0, 0%, 40%);
  text-align: center;
  font-size: 2rem;
}

label{
  font-family: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid hsl(0, 0%, 80%);
  cursor: pointer;
}

input:hover{
  background-color: hsl(0, 0%, 80%);
}

input:active{
  background-color: hsl(0, 0%, 90%);
}

